{% extends 'base.html' %}

{% block content %}
<main class="card card-body">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit harum quae voluptates ipsa autem
            obcaecati, ipsum reiciendis! Soluta sint, eaque natus expedita provident molestias ducimus aut, ratione
            enim, numquam nostrum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ab cum dolorum perspiciatis assumenda dolor
            corporis. Sequi veniam, cum ratione excepturi vel reiciendis in praesentium culpa et maiores quidem
            blanditiis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nostrum placeat, vel in assumenda cupiditate
            quisquam architecto quidem repellendus consequuntur quam neque similique atque doloribus quo inventore
            dolorem asperiores quibusdam.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">Signin</a>
            <a class="btn btn-dark" href="/signup">Signup</a>
        </div>


    </section>
</main>


{% endblock %}